# Ambiente virtual
.venv/
env/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Configurações do VSCode
.vscode/

# Arquivos de log
*.log

# Dados temporários
*.sqlite3
*.db

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Arquivos Jupyter (caso use notebooks)
.ipynb_checkpoints/
